* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #f8f5ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 200px;
  min-height: 100vh;
  font-family: "Clash Grotesk", sans-serif;
}

body::-webkit-scrollbar {
  @apply w-0 md:w-1 bg-transparent;
  width: 0;
  background: transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-white;
  background-color: white;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 bg-bucx/80 rounded-full;
  border-radius: 100%;
  background-color: #f8f5ed;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header h1 {
  font-size: 30px;
  font-weight: 500;
}

header p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.form {
  margin-top: 40px;
  padding: 40px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-pop {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 42px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: #fff;
}

.url-inp {
  width: 392px;
  height: 55px;
  outline: 0;
  color: black;
  font-size: 12px;
  font-family: "Clash Grotesk", sans-serif;
  padding: 8px 12px;
  line-height: 18px;
  border-radius: 12px;
  border: 1px solid #3284ff;
}

.url-inp::placeholder,
.alias::placeholder,
.select-domain::placeholder {
  color: gray;
}

.trim-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 392px;
  padding: 18px;
  border-radius: 100px;
  background: #005ae2;
  outline: 0;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 12px;
  cursor: pointer;
  transition: all;
  animation-duration: 100s;
  animation-name: trim;
}

.trim-btn:active {
  scale: 0.96;
  transition: all;
  animation-duration: 300s;
}

.form-pop p {
  margin-top: 12px;
  max-width: 373px;
  color: green;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.output {
  background: #f8f543;
  border: 1px solid;
  padding: 20px;
  margin: 0 auto;
  color: azure;
  border-radius: 10px;
  cursor: pointer;
}

.output:active {
  scale: 0.99;
}

.remark {
  margin: 0 auto;
}
